footer{
    
    width: 100%;
    height: 3rem;
    background-color: transparent ;
    position: absolute;
    bottom: 0px;
}
.info-footer{
    color: #FFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .3rem;
    position: fixed;
    padding-right: .7rem;
    width: 100%;
    letter-spacing: 1px;
    font-size: 8px;
}

.info-footer img{
    width: 25px;
    height: 25px;

}